/* body style, the background color is important for the shadow effect*/
body {
  background: #ececec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  height: 300px;
  width: 300px;
  -webkit-appearance: none; /* delete the checkbox style*/
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
              10px 10px 15px rgba(192, 16, 16, 0.12) ;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 14px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:after {
  font-family: FontAwesome;
  content: '\f011';
  color: #ee4040;
  font-size: 105px;
}

.button:checked:after{
  color: #15e38a;
}
body.ok{
  background: black;
}
.button.ok {
  background: #ececec;
  box-shadow: 0 0 10px #afe26c,
              0 0 25px #afe26c,
              0 0 50px #afe26c,
              0 0 100px #afe26c,
              inset -10px -10px 15px rgba(255,255,255,0.5),
              inset 10px 10px 15px rgba(34, 160, 66, 0.12);
  
}